.itemsUl { 
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    }

.itemsLi {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
} 
.itemsImage {
    height: 300px;       
    width: 100%;
    object-fit: contain; 
    border: 1px solid lightblue;
    border-radius: 11px;
    margin-bottom: 1rem;
}

.itemsSpan {
    font-weight: 700;
    color: green;
}
.itemsTitle {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid blue;
}
.itemsDescription {
    text-align: left;
    padding: .5rem 1rem;
}



   